
.canvas {
  /* Perfectly square */
  width: 100%;
  height: 100%;
}

.pixel {
  /* We'll need 256 total pixels in our HTML */
  width: 62px;
  height: 62px;
  float: left;
  border: 3px solid pink;
}

.pixel:nth-child(12) {
  background: aqua;
}
.pixel:nth-child(13) {
  background: aqua;
}
.pixel:nth-child(14) {
  background: aqua;
}

.pixel:nth-child(15) {
  background: aqua;
}
.pixel:nth-child(16) {
  background: aqua;
}

.pixel:nth-child(21) {
  background: aqua;
}

.pixel:nth-child(22) {
  background: aqua;
}

.pixel:nth-child(23) {
  background: aqua;
}

.pixel:nth-child(24) {
  background: aqua;
}

.pixel:nth-child(25) {
  background: aqua;
}

.pixel:nth-child(30) {
  background: aqua;
}

.pixel:nth-child(31) {
  background: aqua;
}

.pixel:nth-child(32) {
  background: aqua;
}

.pixel:nth-child(33) {
  background: aqua;
}

.pixel:nth-child(34) {
  background: aqua;
}

.pixel:nth-child(39) {
  background: aqua;
}

.pixel:nth-child(40) {
  background: aqua;
}

.pixel:nth-child(41) {
  background: aqua;
}

.pixel:nth-child(42) {
  background: aqua;
}

.pixel:nth-child(43) {
  background: aqua;
}

.pixel:nth-child(46) {
  background: aqua;
}

.pixel:nth-child(47) {
  background: aqua;
}

.pixel:nth-child(48) {
  background: aqua;
}

.pixel:nth-child(49) {
  background: aqua;
}

.pixel:nth-child(50) {
  background: aqua;
}

.pixel:nth-child(51) {
  background: aqua;
}

.pixel:nth-child(52) {
  background: aqua;
}

.pixel:nth-child(53) {
  background: aqua;
}

.pixel:nth-child(54) {
  background: aqua;
}
